boody {
  font-family: 'Roboto', sans-serif;}


.navbar{
background-color:#28A745 ;
}

.logo_navbar{
  height: 60px; 
}
.parrafo2{
  color: #28A745;
}

.formulario{
  background-color: #28A745;
}
.colores {
  color:white;
}
.imagen_footer{
  width: 300px;
}
